# --- Compilation C ---
# Ignorer tous les fichiers objets partout
*.o
#ignorer les .txt
*.txt
# --- Système / Editeurs ---
# Mac
.DS_Store
# Windows
Thumbs.db
# VS Code
.vscode/
#ignorer le drop
drop.c